
.nav-pills-custom .nav-link {
    color: #fff;
    /* background: #e71313; */
    position: relative;
    transition:0.2s ease;

}
.nav.tata-nav  > .nav-link{
    /* background-image: linear-gradient(to right top, #154485, #3762a0, #5682bb, #76a2d6, #97c4f1); */
    /* background-image: linear-gradient(195deg, #707275 0%, #747b8a 100%);
     color: #fff;  */
    transition:0.5s ease;

    
}

.nav.tata-nav  > .nav-link:nth-child(1){
    color: #E53935 ;
    background-color: #fed1d1 ;
    transition:0.5s ease;

}
.nav.tata-nav  > .nav-link:nth-child(2){
    color: #FB8C00;
    background-color: #fae8cc ;
    transition:0.5s ease;

    
}
.nav.tata-nav  > .nav-link:nth-child(3){
    color: #1A73E8 ;
    background-color: #bddcf8 ;
    transition:0.5s ease;

    
}
.nav.tata-nav  > .nav-link:nth-child(4){
    color: #43A047;
    background-color: #c9facc ;
    transition:0.5s ease;

    
}



.nav.tata-nav  > .nav-link.active:nth-child(1){
  color: #fff;
      transition: 0.5s ease;
    /* background: #ff6961; */
    background-image: linear-gradient(195deg, #EF5350 0%, #E53935 100%);
}
.nav.tata-nav  > .nav-link.active:nth-child(2){
  color: #fff;
    transition:0.5s ease;
    /* background: #fac898; */
    background-image: linear-gradient(195deg, #FFA726 0%, #FB8C00 100%);
}
.nav.tata-nav  > .nav-link.active:nth-child(3){
  color: #fff;
      transition:.5s ease;
    /* background: #387ff3; */
    background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
}
.nav.tata-nav  > .nav-link.active:nth-child(4){
  color: #fff;
      transition:0.5s ease;
    /* background: #77dd77; */
    background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
}
.nav-pills-custom .nav-link.active {
    color: #fff;
    background:black;
    
    /* transform: translate3d(602px, 0px, 0px); */
    
    /* background-image: linear-gradient(195deg, #9E8FB2 0%, #0CBABA 100%); */

}
 


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        /* border-left: 10px solid #000; */

        /* border-left: 10px solid #9E8FB2; */
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}
.nav.tata-nav  > .nav-link:nth-child(1)::before{
    border-left: 10px solid  #E53935 ;

}
.nav.tata-nav  > .nav-link:nth-child(2)::before{
    border-left: 10px solid  #FB8C00 
}
.nav.tata-nav  > .nav-link:nth-child(3)::before{
    border-left: 10px solid  #1A73E8 
}
.nav.tata-nav  > .nav-link:nth-child(4)::before{
    border-left: 10px solid  #43A047 
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}
.char_wrap{
    word-wrap: break-word;
}
/* .tata-nav-pills li:nth-child(4) .moving-tab .nav-link.active{

} */
.nav.nav-pills .nav-link{
    border-radius: 0rem !important;
    /* padding: 10px !important; */
}

.tata-nav-pills li:nth-child(1) .nav-link{
    border-radius: 0.5rem 0  0 0.5rem   !important ;
/* padding: 10px; */
    color: #E53935 ;
   background-color: #fed1d1 ;
   /* transition:0.5s ease; */
   transform: translate3d(0px, 0px, 0px);
   transition: all 0.5s ease 0s;
   border: 1px solid #E53935;
border-width:1px 0 1px 1px;

}
.tata-nav-pills li:nth-child(2) .nav-link{
    color: #FB8C00;
    background-color: #fae8cc ;
   /* transition:0.5s ease; */
   transform: translate3d(0px, 0px, 0px);
   transition: all 0.5s ease 0s;
   border: 1px solid #FB8C00;;
border-width:1px 0 1px 0;
}
.tata-nav-pills li:nth-child(3) .nav-link{
color: #1A73E8 ;
   background-color: #bddcf8 ;
   /* transition:0.5s ease; */
   transform: translate3d(0px, 0px, 0px);
   transition: all 0.5s ease 0s;
   border: 1px solid #1A73E8;;
   border-width:1px 0  1px 0;
}
.tata-nav-pills li:nth-child(4) .nav-link{
    border-radius: 0  0.5rem 0.5rem 0    !important ;
color: #43A047;
   background-color: #c9facc ;
   transform: translate3d(0px, 0px, 0px);
   transition: all 0.5s ease 0s;
   border: 1px solid #43A047;
   border-width:1px 1px  1px 0;
   /* transition:0.5s ease; */
}
.tata-nav-pills li:nth-child(1) .nav-link.active{

   color: #fff;
   /* transition: 0.5s ease; */

 background-image: linear-gradient(195deg, #EF5350 0%, #E53935 100%) !important;
}
.tata-nav-pills li:nth-child(2) .nav-link.active{
 color: #fff;
   transition:0.5s ease;

   background-image: linear-gradient(195deg, #FFA726 0%, #FB8C00 100%);  
}
.tata-nav-pills li:nth-child(3) .nav-link.active{
color: #fff;
     transition:.5s ease;

   background-image: linear-gradient(195deg, #49a3f1 0%, #1A73E8 100%);
}
.tata-nav-pills li:nth-child(4) .nav-link.active{
color: #fff;
     transition:0.5s ease;

   background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
}
.moving-tab .nav-link.active{
    background: inherit !important;
}